#home #head-open-menu {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/for_restuarent/cover-restuarent.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #FFF;
  font-family: "Roboto-Thin","Sans Serif"; }
  #home #head-open-menu .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #home #head-open-menu .container .head-text {
      padding: 0px 100px 50px 100px;
      font-size: 30px; }
    #home #head-open-menu .container .how-its-work .head-btn {
      color: #FFF;
      padding: 15px 15px;
      border-radius: 30px 30px;
      background-color: rgba(255, 255, 255, 0.4);
      font-size: 18px;
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s; }
      #home #head-open-menu .container .how-its-work .head-btn:hover {
        background-color: rgba(255, 255, 255, 0.5); }
    @media (max-width: 767px) {
      #home #head-open-menu .container .head-text {
        padding: 0px 0px 30px 0px;
        font-size: 20px; } }

#home #features {
  background-color: #F8F8F8;
  font-family: "Roboto-Thin","Sans Serif"; }
  #home #features .container .features-head {
    padding: 30px 0px;
    font-size: 40px; }
  #home #features .container .features-slider {
    margin-bottom: 30px; }
    #home #features .container .features-slider .slide {
      margin-bottom: 16px; }
      #home #features .container .features-slider .slide li {
        text-align: center; }
      #home #features .container .features-slider .slide .item {
        position: relative;
        display: inline-block; }
        #home #features .container .features-slider .slide .item .hover {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          background-color: rgba(0, 0, 0, 0.75);
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: 10px;
          font-size: 16px;
          text-align: center;
          opacity: 0;
          -webkit-transition: opacity 0.3s linear;
          transition: opacity 0.3s linear; }
        #home #features .container .features-slider .slide .item:hover .hover {
          opacity: 1; }
  #home #features .container #features-content {
    position: relative;
    margin-top: 36px; }
    #home #features .container #features-content .features-details img {
      display: block;
      margin: auto; }
    #home #features .container #features-content .features-details p {
      text-align: center;
      font-size: 16px;
      margin-bottom: 40px; }

#home #what-you-get {
  font-family: "Roboto-Light","Sans Serif"; }
  #home #what-you-get .container .text-head {
    padding: 30px 0px;
    font-size: 40px; }
  #home #what-you-get .container .what-you-get-slider .what-slide .item img {
    max-width: 100%;
    display: inline-block; }
  #home #what-you-get .container .what-you-get-slider .what-slide .item .text-content {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 30px;
    padding: 10px 10px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #home #what-you-get .container .what-you-get-slider .what-slide .item .text-content .text .head {
      font-size: 22px; }
  @media (max-width: 991px) {
    #home #what-you-get .container {
      text-align: center; }
      #home #what-you-get .container .what-you-get-slider .what-slide .item {
        text-align: center; }
        #home #what-you-get .container .what-you-get-slider .what-slide .item .text-content {
          width: 100%;
          right: 0;
          background-color: rgba(255, 255, 255, 0.9);
          text-align: center; } }

#home #benefit {
  background-color: #FFBD2E;
  padding-bottom: 30px;
  font-family: "Roboto-Thin","Sans Serif"; }
  #home #benefit .container {
    text-align: center;
    color: #FFF;
    font-size: 20px; }
    #home #benefit .container .benefit-head {
      padding: 30px 0px;
      font-size: 40px; }
    #home #benefit .container .benefit-item img {
      max-width: 100%;
      height: 120px; }
    #home #benefit .container .benefit-item p {
      margin-top: 20px;
      margin-bottom: 20px; }

#home #about {
  background-color: #F8F8F8;
  padding-bottom: 30px;
  font-family: "Roboto-Thin","Sans Serif"; }
  #home #about .container {
    color: black;
    font-size: 20px; }
    #home #about .container .about-head {
      padding: 30px 0px;
      font-size: 40px;
      text-align: center;
      font-weight: bold; }
    #home #about .container .about-content {
      padding-bottom: 20px; }

#home #register {
  margin-bottom: 40px;
  font-family: "Roboto-Light","Sans Serif"; }
  #home #register .container .register-head {
    padding: 30px 0px;
    font-size: 30px;
    text-align: center; }
  #home #register .container .register-form form .head-text {
    padding: 10px 0px;
    font-size: 20px; }
  #home #register .container .register-form form .form-group .control-label {
    text-align: left; }
  #home #register .container .register-form form .form-group .form-control {
    background-color: #DFDFDF;
    outline: none;
    box-shadow: none;
    border: none; }
    #home #register .container .register-form form .form-group .form-control:focus {
      box-shadow: none;
      border: none; }
  #home #register .container .register-form form .lasttext {
    padding: 40px 0px; }
  #home #register .container .register-form form .form-submit {
    text-align: center; }
    #home #register .container .register-form form .form-submit .btn-submit {
      color: #FFF;
      padding: 15px 15px;
      border-radius: 30px 30px;
      background-color: #ffbd2e;
      font-size: 16px;
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s;
      border-style: none;
      padding: 10px 20px 10px 20px; }
      #home #register .container .register-form form .form-submit .btn-submit:hover {
        background-color: rgba(255, 189, 46, 0.9); }
  @media (max-width: 991px) {
    #home #register .container .register-head {
      font-size: 20px; } }
