.how-details {
  position: relative; }

.youtube {
  width: 560px;
  height: 320px; }

.how-details-2 {
  position: relative;
  display: inline-block; }
  .how-details-2 .overbox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear; }
  .how-details-2:hover .overbox {
    opacity: 1; }
  .how-details-2 p {
    color: black;
    text-align: center; }

#home #head-open-menu {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 25%, rgba(0, 0, 0, 0.4) 90%), url("../../images/for_customer/head-home-banner.png");
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.4) 25%, rgba(0, 0, 0, 0.4) 90%), url("../../images/for_customer/head-home-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto-Light","Sans Serif"; }
  #home #head-open-menu .text-head {
    position: absolute;
    top: 48%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF; }
  #home #head-open-menu .text-head-btn {
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    font-size: 20px;
    margin-right: -20px;
    padding: 18px 26px 16px 46px;
    border-radius: 50px;
    box-shadow: 0 1px 0;
    color: black;
    background: rgba(255, 255, 255, 0.5); }
    #home #head-open-menu .text-head-btn span {
      margin-left: -20px; }
    #home #head-open-menu .text-head-btn:hover {
      background: black;
      color: #fff; }

#home #get-app {
  font-family: "Roboto-Light","Sans Serif";
  background-color: #FFBD2E; }
  #home #get-app #get-bg {
    color: black;
    height: 70vh; }
    #home #get-app #get-bg #img-phone-openmenu {
      padding-top: 40px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    #home #get-app #get-bg .download #download-head {
      margin: 0px 40px;
      margin-top: 100px;
      font-size: 30px; }
    #home #get-app #get-bg .download #download-content {
      margin: 0px 40px;
      font-size: 18px; }
    #home #get-app #get-bg .download #download-content-footer {
      margin: 0px 24px;
      font-size: 12px; }
    #home #get-app #get-bg .download .img-store {
      margin: 0px 24px;
      margin-top: 10px;
      width: 180px; }
    #home #get-app #get-bg .download .img-store-apple {
      width: 196px;
      margin-top: 10px; }

#home #how-it-work {
  margin-top: 140px;
  font-family: "Roboto-Thin","Sans Serif"; }
  #home #how-it-work #how-content-head {
    position: relative;
    font-size: 30px;
    font-weight: bold; }
  #home #how-it-work #how-content {
    position: relative;
    margin-top: 20px; }
    #home #how-it-work #how-content .how-details-2 img {
      margin: auto;
      padding: auto; }
    #home #how-it-work #how-content .how-details-2 p {
      text-align: center;
      font-size: 20px; }

#home .view-menu {
  background-color: #F5F5F5;
  font-family: "Roboto-Thin","Sans Serif"; }
  #home .view-menu .view-content .view-detail-head {
    margin-top: 25%;
    font-size: 40px;
    color: #FFBD2E; }
  #home .view-menu .view-content .view-detail {
    font-size: 22px;
    margin-top: 20px; }
  #home .view-menu .bx-size {
    margin-top: 40px; }

#home .payment-menu {
  background-color: #fff;
  font-family: "Roboto-Thin","Sans Serif"; }
  #home .payment-menu .payment-content .payment-detail-head {
    margin-top: 25%;
    margin-bottom: 10px;
    font-size: 40px;
    color: #FFBD2E; }
  #home .payment-menu .payment-content .payment-detail {
    font-size: 22px;
    margin-left: 16px;
    margin-bottom: 40px; }
  #home .payment-menu .bx-size {
    margin-top: 40px; }

#home .subscribe-news {
  min-height: 600px;
  width: 100%;
  background-image: -webkit-linear-gradient(top, transparent 25%, transparent 90%), url("../../images/for_customer/subscribe-news.png");
  background-image: linear-gradient(-180deg, transparent 25%, transparent 90%), url("../../images/for_customer/subscribe-news.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: "Roboto-Light","Sans Serif"; }
  #home .subscribe-news .subscribe {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    left: 35%; }
    #home .subscribe-news .subscribe .sub-head {
      font-size: 40px;
      margin-bottom: 20px;
      margin-left: 40px; }
    #home .subscribe-news .subscribe .sub-detail {
      margin-left: 40px;
      font-size: 22px; }
    #home .subscribe-news .subscribe #input-email-sub input {
      margin: 20px;
      margin-left: 26px;
      min-width: 100%;
      font-size: 20px; }
    #home .subscribe-news .subscribe .subscribe-btn {
      background-color: #FFBD2E;
      border-style: none; }
      #home .subscribe-news .subscribe .subscribe-btn:hover {
        background: black; }

.down-app-btn {
  margin-top: 14px;
  padding: 10px 10px;
  border-radius: 50px;
  background-color: #232121;
  color: #FFF !important;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  border-style: none; }
  .down-app-btn:hover {
    background: #A87E4F; }
  .down-app-btn.-circle {
    position: relative;
    width: 42px;
    height: 42px;
    padding: 0;
    border-radius: 50%; }
    .down-app-btn.-circle i {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-size: 20px; }

.get-app-btn {
  margin-top: 14px;
  padding: 10px 10px;
  border-radius: 50px;
  background-color: #232121;
  color: #FFF !important;
  -webkit-transition: background 0.2s;
  transition: background 0.2s; }
  .get-app-btn:hover {
    background: #A87E4F; }
  .get-app-btn.-circle {
    position: relative;
    width: 42px;
    height: 42px;
    padding: 0;
    border-radius: 50%; }
    .get-app-btn.-circle i {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-size: 20px; }

#need-help {
  text-align: center;
  color: #979797;
  padding-top: 40px; }

#input-email-download-app input {
  margin: 20px 24px;
  min-width: 90%;
  font-size: 20px; }

.bx-size .bx-wrapper .bx-viewport {
  box-shadow: none;
  border: 0;
  background-color: transparent; }

@media only screen and (max-width: 991px) {
  #home #get-app #get-bg .download {
    margin-top: -20px;
    margin-left: 60px; }
    #home #get-app #get-bg .download #download-content-footer {
      margin-top: 10px; }
    #home #get-app #get-bg .download .down-app-btn {
      margin-top: -4px;
      margin-left: 20px; }
    #home #get-app #get-bg .download .img-store {
      width: 140px; }
    #home #get-app #get-bg .download .img-store-apple {
      width: 150px;
      margin-left: 20px; }
  #home #how-it-work #how-content {
    text-align: center; }
    #home #how-it-work #how-content .how-details-2 img {
      width: 300px; }
    #home #how-it-work #how-content .how-details-2 p {
      text-align: center;
      font-size: 16px; }
  #home .subscribe-news .subscribe .subscribe-btn {
    margin-left: 24px; } }

@media only screen and (max-width: 767px) {
  #home #head-open-menu .text-head {
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF; }
  #home #get-app #get-bg {
    min-height: 960px; }
    #home #get-app #get-bg #img-phone-openmenu {
      width: 40%; }
    #home #get-app #get-bg .download {
      margin-left: 30px; }
      #home #get-app #get-bg .download #download-head {
        font-size: 16px; }
      #home #get-app #get-bg .download #download-content {
        font-size: 14px; }
      #home #get-app #get-bg .download .img-store {
        width: 140px; }
      #home #get-app #get-bg .download .img-store-apple {
        width: 140px; } }

@media only screen and (max-width: 652px) {
  #home #head-open-menu .text-head {
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF; }
  #home #head-open-menu .text-head-btn {
    font-size: 14px;
    padding: 18px 20px 16px 40px; }
  #home #how-it-work #how-content {
    text-align: center; }
    #home #how-it-work #how-content .how-details-2 img {
      width: 200px; }
  #home #get-app #get-bg .download {
    margin-left: 0px; }
  #home .view-menu {
    background-color: #F5F5F5; }
    #home .view-menu .view-content .view-detail-head {
      margin-top: 16%;
      font-size: 26px;
      color: #FFBD2E; }
    #home .view-menu .view-content .view-detail {
      font-size: 20px;
      margin-top: 20px; }
    #home .view-menu .bx-size {
      margin-top: 40px; }
  #home .payment-menu .payment-content .payment-detail-head {
    font-size: 26px; }
  #home .payment-menu .payment-content .payment-detail {
    font-size: 20px;
    margin-left: 16px; }
  #home .subscribe-news .subscribe .sub-head {
    font-size: 26px; }
  #home .subscribe-news .subscribe .sub-detail {
    font-size: 18px; } }

@media only screen and (max-width: 480px) {
  .youtube {
    width: 330px;
    height: 240px; }
  #home #get-app #get-bg {
    min-height: 760px; }
    #home #get-app #get-bg #img-phone-openmenu {
      width: 40%; }
    #home #get-app #get-bg .download {
      padding-left: 0px; }
      #home #get-app #get-bg .download #download-head {
        font-size: 14px; }
      #home #get-app #get-bg .download #download-content {
        font-size: 12px; }
      #home #get-app #get-bg .download .img-store {
        width: 110px; }
      #home #get-app #get-bg .download .img-store-apple {
        width: 114px; } }
