footer {
  background: #000;
  color: #FFF;
  text-transform: uppercase;
  padding: 40px 0px 20px 0px; }
  footer .container {
    text-align: center; }
    footer .container hr {
      width: 40%;
      margin: 10px auto; }
    footer .container .need-help a {
      color: #979797; }
    footer .container .need-help, footer .container .contactus {
      font-size: 12px; }
    footer .container .social-media {
      margin-bottom: 20px; }
      footer .container .social-media a {
        padding: 0px 10px; }
        footer .container .social-media a img {
          width: 40px;
          max-width: 100%; }
    @media (max-width: 767px) {
      footer .container hr {
        width: 100%; } }

body {
  margin: 0;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 14px;
  color: #000; }

a {
  color: #FFF;
  transition: color 0.2s; }
  a:hover {
    color: #FFF;
    text-decoration: none; }

#ui-main {
  min-height: 650px; }

.bx-wrapper .bx-viewport {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  left: 0px !important; }

@font-face {
  font-family: "Roboto-Light";
  src: url("Roboto-Light.ttf");
  src: url("Roboto-Light.eot?") format("embedded-opentype"), url("Roboto-Light.woff") format("woff"), url("Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Thin";
  src: url("Roboto-Thin.ttf");
  src: url("Roboto-Thin.eot?") format("embedded-opentype"), url("Roboto-Thin.woff") format("woff"), url("Roboto-Thin.ttf") format("truetype"); }

header.scrolling {
  background-color: rgba(0, 0, 0, 0.8); }
  header.scrolling .container {
    padding: 15px 0px; }
    header.scrolling .container #nav-logo .logo img {
      width: 150px; }
    @media (min-width: 970px) {
      header.scrolling .container #nav-menu {
        margin-top: -20px; } }

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  color: #fdfdfd;
  transition: all 0.3s linear; }
  header a {
    color: #fdfdfd; }
  header .container {
    padding: 45px 0px; }
    header .container #nav-logo {
      text-align: center; }
      header .container #nav-logo .logo {
        padding: 0px 15px; }
        header .container #nav-logo .logo img {
          width: 276px;
          max-width: 100%;
          transition: all 0.3s linear; }
    header .container #nav-menu {
      margin-top: -30px;
      font-size: 18px; }
      header .container #nav-menu .nav {
        list-style: none;
        margin: 0;
        padding: 0;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        header .container #nav-menu .nav li a {
          display: inline-block; }
          header .container #nav-menu .nav li a:hover {
            background: none; }
        header .container #nav-menu .nav .nav-item .menu {
          margin: 0px 30px; }
        header .container #nav-menu .nav .nav-item a:hover {
          text-decoration: underline;
          color: #fdfdfd; }
        header .container #nav-menu .nav .nav-item:last-child {
          margin-left: auto; }
          header .container #nav-menu .nav .nav-item:last-child .lang:last-child {
            margin-right: 30px; }
          header .container #nav-menu .nav .nav-item:last-child .lang.active {
            font-weight: bold;
            text-decoration: underline; }
  @media (max-width: 991px) {
    header .container {
      padding: 15px 0px; }
      header .container #nav-logo {
        text-align: center; }
        header .container #nav-logo .logo img {
          width: 170px; }
      header .container #nav-menu {
        margin-top: 10px; }
        header .container #nav-menu .nav {
          -ms-flex-pack: justify;
          justify-content: space-between; }
          header .container #nav-menu .nav .nav-item .menu {
            margin: 0px 10px; }
          header .container #nav-menu .nav .nav-item:last-child .lang:last-child {
            margin-right: 10px; } }
  @media (max-width: 767px) {
    header .container #nav-logo .logo img {
      width: 150px; }
    header .container #nav-menu .nav .nav-item:last-child {
      margin-left: 0; } }

/*# sourceMappingURL=main.css.map */
