$primary-color: #333;
$primary-text-dark: #000;
$primary-text-light: #FFF;

$primary-header-text: #fdfdfd;

$primary-link: #FFF;
$primary-link-hover: #FFF;

$btn-bg-yellow: #FFBD2E;

@mixin btn-style($color,$bgcolor,$opacity,$fontsize) {
  color: $color;
  padding: 15px 15px;  
  border-radius: 30px 30px;
  background-color: rgba($bgcolor,$opacity);
  font-size: $fontsize;
  transition: background-color 0.3s;
}
