@import '_constant.scss';

body{
  margin: 0;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 14px;
  color: $primary-text-dark;
}

a{
  color: $primary-link;
  transition: color 0.2s;

  &:hover{
    color: $primary-link-hover;
    text-decoration: none;
  }
}

#ui-main{
  min-height: 650px;
}
.bx-wrapper .bx-viewport {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  left: 0px !important;
}

@font-face {
    font-family: "Roboto-Light";
    src: url('Roboto-Light.ttf');
    src: url('Roboto-Light.eot?') format('embedded-opentype'),
         url('Roboto-Light.woff') format('woff'),
         url('Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: "Roboto-Thin";
    src: url('Roboto-Thin.ttf');
    src: url('Roboto-Thin.eot?') format('embedded-opentype'),
         url('Roboto-Thin.woff') format('woff'),
         url('Roboto-Thin.ttf') format('truetype');
}
// @font-face {
//     font-family: "Roboto-Light";
//     src: url('../../fontRoboto-Light.eot');
//     src: url('../../font/Roboto-Light.eot?') format('embedded-opentype'),
//          url('../../font/Roboto-Light.woff') format('woff'),
//          url('../../font/Roboto-Light.ttf') format('truetype');
// }
// @font-face {
//     font-family: "Roboto-Thin";
//     src: url('../../font/Roboto-Thin.eot');
//     src: url('../../font/Roboto-Thin.eot?') format('embedded-opentype'),
//          url('../../font/Roboto-Thin.woff') format('woff'),
//          url('../../font/Roboto-Thin.ttf') format('truetype');
// }
