@import '_constant.scss';

header.scrolling{
  background-color: rgba(0, 0, 0, 0.8);
    .container {
      padding: 15px 0px;
      #nav-logo {
        .logo {
          img {
            width: 150px;
          }
        }
      }
      @media (min-width: 970px ) {
        #nav-menu{
          margin-top: -20px;
        }
      }

  }
}

header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  color: $primary-header-text;
  transition: all 0.3s linear;

  a{
    color: $primary-header-text;
  }
  .container{
    padding: 45px 0px;

    #nav-logo{
      text-align: center;
      .logo{
        padding: 0px 15px;
        img{
          width: 276px;
          max-width: 100%;
          transition: all 0.3s linear;
        }
      }
    }

    #nav-menu{
      margin-top: -30px;
      font-size: 18px;
      .nav{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        li{
          a{
            display:  inline-block;
            &:hover{
              background: none;
            }
          }
        }
        .nav-item{
          .menu{
            margin: 0px 30px;
          }
          a:hover{
            text-decoration: underline;
            color: $primary-header-text;
          }

          &:last-child {
            margin-left: auto;
            .lang:last-child{
              margin-right: 30px;
            }
            .lang.active{
              font-weight: bold;
              text-decoration: underline;
            }
          }
        }

      }
    }
  }
  @media (max-width: 991px) {
    .container{
      padding: 15px 0px;
      #nav-logo{
        text-align: center;
        .logo{
          img{
            width: 170px;
          }

        }
      }

      #nav-menu{
        //display: none;
        margin-top: 10px;
        .nav{
          justify-content: space-between;
          .nav-item{
            .menu{
              margin: 0px 10px;
            }
            &:last-child{
              .lang:last-child{
                margin-right: 10px;
              }
            }
          }
        }
      }
    }

  }
  @media (max-width: 767px) {
    //background-color: rgba(0, 0, 0, 0.8);
    .container{
      #nav-logo{
        .logo{
          img{
            width: 150px;
          }
        }
      }
      #nav-menu{
        .nav{
          .nav-item{
            &:last-child{
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
