@import 'global/_constant.scss';

#home{
  #head-open-menu{
    width:100%;
    height: 100vh;
    background-image: url('../../images/for_restuarent/cover-restuarent.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: $primary-text-light;
    font-family: "Roboto-Thin","Sans Serif";
    .container{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .head-text{
        padding: 0px 100px 50px 100px;
        font-size: 30px;
      }
      .how-its-work{
        .head-btn{
          @include btn-style($primary-text-light,$primary-text-light,0.4,18px);
          &:hover{
            background-color: rgba($primary-text-light,0.5);
          }
        }
      }
      @media (max-width: 767px) {
        .head-text{
          padding: 0px 0px 30px 0px;
          font-size: 20px;
        }
      }
    }
  }

  #features{
    background-color: #F8F8F8;
    font-family: "Roboto-Thin","Sans Serif";
    // font-family: "Myriad Set Pro","Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    .container{
      .features-head{
        padding: 30px 0px;
        font-size: 40px;
        // font-weight: bold;
      }
      .features-slider{
        margin-bottom: 30px;
        .slide{
          // font-weight: bold;
          margin-bottom: 16px;
          li{
            text-align: center;

          }
          .item{
            position: relative;
            display: inline-block;

            .hover{
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              background-color: rgba(0, 0, 0, 0.75);
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              padding: 10px;
              font-size: 16px;
              text-align: center;

              opacity: 0;
              transition: opacity 0.3s linear;
            }
            &:hover{
              .hover{
                opacity: 1;
              }
            }
          }

        }
      }
      #features-content{
        // display: inline-block;
        position: relative;
        margin-top: 36px;

        .features-details{
          img{
            display: block;
            margin: auto;
          }
          p{
            text-align: center;
            font-size: 16px;
            margin-bottom: 40px;
          }
        }
      }
    }
  }

  #what-you-get{
    font-family: "Roboto-Light","Sans Serif";
    .container{
      .text-head{
        padding: 30px 0px;
        font-size: 40px;
        // font-weight: bold;
      }
      .what-you-get-slider{
        .what-slide{
          .item {
            //position:relative;
            img{
              //width: 287px;
              max-width: 100%;
              display: inline-block;
            }
            .text-content{
              width: 50%;
              height: 100%;
              position: absolute;
              top: 0;
              right: 30px;
              padding: 10px 10px;
              text-align: left;

              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;

              .text{
                .head{
                  font-size: 22px;
                }
              }
            }

          }
        }
      }
      @media (max-width: 991px) {
        text-align: center;
        .what-you-get-slider {
          .what-slide {
            .item {
              text-align: center;
              .text-content{
                width: 100%;
                right: 0;
                background-color: rgba($primary-text-light,0.9);
                text-align: center;
              }
            }
          }
        }
      }

    }
  }

  #benefit{
    background-color: #FFBD2E;
    padding-bottom: 30px;
    font-family: "Roboto-Thin","Sans Serif";
    .container {
      text-align: center;
      color: $primary-text-light;
      font-size: 20px;
      .benefit-head {
        padding: 30px 0px;
        font-size: 40px;
        // font-weight: bold;
      }
      .benefit-item{
        img{
          max-width: 100%;
          // width: 150px;
          height: 120px;
          // background-color: #fff;

        }
        p{
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
  #about{
    background-color: #F8F8F8;
    padding-bottom: 30px;
    font-family: "Roboto-Thin","Sans Serif";
    .container {
      // text-align: center;
      color: black;
      font-size: 20px;
      .about-head {
        padding: 30px 0px;
        font-size: 40px;
        text-align: center;
        font-weight: bold;
      }
      .about-content{
        padding-bottom: 20px;
      }
    }
  }

  #register{
    margin-bottom: 40px;
    font-family: "Roboto-Light","Sans Serif";
    .container{
      .register-head{
        padding: 30px 0px;
        font-size: 30px;
        // font-weight: bold;
        text-align: center;
      }

      .register-form{
        form {
          .head-text{
            padding: 10px 0px;
            font-size: 20px;
            // font-weight: bold;
          }
          .form-group{
            .control-label{
              text-align: left;
            }
            .form-control{
              background-color: #DFDFDF;
              //color: $primary-text-light;
              outline: none;
              box-shadow: none;
              border: none;

              &:focus{
                box-shadow: none;
                border: none;
              }
            }
          }
          .lasttext{
            padding: 40px 0px;
          }

          .form-submit{
            text-align: center;
            .btn-submit{
              @include btn-style($primary-text-light,$btn-bg-yellow,1,16px);
              border-style: none;
              padding: 10px 20px 10px 20px;
              &:hover{
                background-color: rgba($btn-bg-yellow,0.9);
              }
            }
          }
        }
      }

      @media (max-width: 991px) {
        .register-head{
          font-size: 20px;
        }
      }

    }
  }
}
