@import 'global/_constant.scss';
.how-details{
  position: relative;
}
.how-details-2{
  position: relative;
  display: inline-block;
  .overbox{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    font-size: 16px;
    text-align: center;

    opacity: 0;
    transition: opacity 0.3s linear;
  }
  &:hover{
    .overbox{
      opacity: 1;
    }
  }
  p{
    color: black;
    text-align: center;
  }
}

#home{
  #head-open-menu{
    position: relative;
    height: 100vh;
    width:100%;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.40) 25%, rgba(0,0,0,0.4) 90%), url('../../images/for_customer/head-home-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    .text-head{
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%,0);
      font-size: 30px;
      line-height: 36px;
      color: #FFFFFF;
    }
    .text-head-btn{
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%,0);
      font-size: 20px;
      line-height: 36px;
      margin-right: -20px;
      padding: 18px 30px 16px 54px;
      border-radius: 50px;
      box-shadow: 0 1px 0;
      color: black;
      background: rgba(255,255,255,.5);
      span{
        margin-left: -20px;
      }
    }
  }

  #get-app{
    background-color: #FFBD2E;
    #get-bg{
      // background-color: #FFBD2E;
      color: black;
      height: 70vh;
      #img-phone-openmenu{
        padding-top: 40px;
        // margin-left: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        // min-width: 50%;


      }
      .download{
        #download-head{
          margin: 0px 40px;
          margin-top: 100px;
          font-size: 18px;
          font-weight: bold;
        }
        #download-content{
          margin: 0px 40px;
          font-size: 18px
        }
        #download-content-footer{
          margin: 0px 24px;
          // margin: 0px 40px;
          font-size: 12px
        }
        .img-store{
          margin: 0px 24px;
          // padding: 10px 10px 10px 10px;
          margin-top: 10px;
          width: 200px;
          // left:10%;
        }
        .img-store-apple{
          // margin: 20px 24px;
          // padding: 10px 10px 10px 10px;
          // margin-left: -10px;
          width: 214px;
          margin-top: 10px;
          // left:10%;
        }
      }
    }

  }

    #how-it-work{
      #how-content-head{
        position: relative;
        font-size: 30px;
        font-weight: bold;
      }
      #how-content{
        position: relative;
        margin-top: 20px;
        .how-details{
          img{
            margin: auto;
            padding: auto;
          }
          p{
            text-align: center;
            font-size: 16px;
          }
        }
      }
    }

    .view-menu{
      // height: 94vh;
      // height: 94vh;
      background-color: #F5F5F5;
      .view-content{
        .view-detail-head{
          margin-top: 24%;
          margin-left: 55.4%;
          font-size: 30px;
          color: #FFBD2E;
        }
        .view-detail{
          margin-top: 20px;
          float: right;
          margin-right: 20px;
        }
      }
      #img-phone-openmenu-menu{
        margin-top: 40px;
      }
    }

    .payment-menu{
      // height: 95vh;
        height: 100%;
      background-color: #fff;
      .payment-content{
        .payment-detail-head{
          margin-top: 24%;
          // margin-left: 39%;
          float: left;
          font-size: 30px;
          color: #FFBD2E;
          margin-left: 3px;
        }
        .payment-detail{
          margin-top: 20px;
          float: left;
          margin-left: 20px;
        }
      }
      #img-phone-openmenu-menu{
        margin-top: 40px;
        float: right;
      }
    }

    .subscribe-news{
      min-height: 600px;
      width:100%;
      background-image: linear-gradient(-180deg, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 90%), url('../../images/for_customer/subscribe-news.png');
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      .test{
        position: absolute;
        transform: translate(50%,0);
        top: 35%;
        left: 8%;

        .sub-head{
          font-size: 30px;
          font-weight: bold;
          margin-bottom: 20px;
          margin-left: 20px;

        }
        .sub-detail{
          margin-left: 20px;
        }
        .subscribe-btn{
          position: absolute;
          // transform: translate(50%,0);
          // left: 60%;
          // margin-left: 40px;
          background-color: #FFBD2E;
          &:hover{
              background: black;
          }
        }
      }
    }
}
.down-app-btn{
  margin-top: 14px;
  padding: 10px 10px;
  border-radius: 50px;
  background-color: #232121;
  color: #FFF !important;
  transition: background 0.2s;

  &:hover{
      background: #A87E4F;
  }

  &.-circle{
      position: relative;
      width: 42px;
      height: 42px;
      padding: 0;
      border-radius: 50%;

      i{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 20px;
      }
  }
}
.get-app-btn{
    margin-top: 14px;
    padding: 10px 10px;
    border-radius: 50px;
    background-color: #232121;
    color: #FFF !important;
    transition: background 0.2s;

    &:hover{
        background: #A87E4F;
    }

    &.-circle{
        position: relative;
        width: 42px;
        height: 42px;
        padding: 0;
        border-radius: 50%;

        i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
        }
    }
}

    #need-help{
      text-align: center;
      color: #979797;
      padding-top: 40px;
    }

#input-email-download-app{
  input{
    margin: 20px 24px;
    width: 360px;
    max-width: 100%;
    font-size:20px;
  }
}
#input-email-sub{
  input{
    margin: 20px 4px;

    width:400px;
    max-width: 100%;
    font-size:20px;
  }
}

.bx-size{
  // position: fixed;
  // width:27%;
  // width:300px;
  // height:200px;
  margin-left: -60px;
  margin-top: 40px;
  // margin-bottom: 100px;

}

.slider-position{
  // margin-left: %;
  // margin-left: 20px;
}
.bx-size .bx-wrapper .bx-viewport
{
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
    box-shadow: none;
    border: 0;
    margin-left: -20px;
    background-color: transparent;
}

/* Medium Devices, Desktops */
// @media only screen and (max-width : 992px) {
//   .bx-size{
//     // position: fixed;
//     width:30%;
//     // width:300px;
//     // height:200px;
//     top: 20%;
//     left: 46%;
//     // margin-top: 40px;
//     // margin-bottom: 100px;
//
//   }
//
//   #home{
//     .view-menu{
//       // height: 94vh;
//       // height: 94vh;
//       background-color: #F5F5F5;
//       .view-content{
//         .view-detail-head{
//           margin-top: 10%;
//           margin-left: 39.8%;
//           font-size: 30px;
//           color: #FFBD2E;
//         }
//         .view-detail{
//           // margin-top: 20px;
//           float: left;
//           margin-left: 34%;
//           margin-bottom: 20px;
//         }
//       }
//       #img-phone-openmenu-menu{
//         // margin-top: 40px;
//       }
//     }
//     .payment-menu{
//       .bx-size{
//         width:30%;
//         top: 0%;
//       }
//       .payment-content{
//         height: 100%;
//         .payment-detail-head{
//           margin-top: 0%;
//           margin-left: 42%;
//           float: left;
//           font-size: 30px;
//           color: #FFBD2E;
//         }
//         .payment-detail{
//           margin-top: 20px;
//           float: left;
//           margin-left: 28%;
//         }
//       }
//
//
//
//     }
//     .subscribe-news{
//
//       .test{
//         // position: absolute;
//         transform: translate(0%,0);
//         top: 35%;
//         left: 0%;
//         margin-left: 26%;
//
//         .sub-head{
//           font-size: 30px;
//           font-weight: bold;
//           margin-bottom: 20px;
//           margin-left: 20px;
//
//         }
//         .sub-detail{
//           margin-left: 20px;
//         }
//         .subscribe-btn{
//           // position: absolute;
//           // transform: translate(50%,0);
//           // left: 60%;
//           // margin-left: 40px;
//           // background-color: #FFBD2E;
//           &:hover{
//               background: black;
//           }
//         }
//       }
//     }
//   }
//
// }
//
// @media only screen and (max-width : 1100px) {
//   #home{
//       .view-menu{
//         .view-content{
//           .view-detail-head{
//             margin-left: 44.3%;
//           }
//         }
//       }
//   }
// }
// @media only screen and (max-width : 1060px) {
//   #home{
//       .view-menu{
//         .view-content{
//           .view-detail-head{
//             margin-left: 42.3%;
//           }
//         }
//       }
//   }
// }
// @media only screen and (max-width : 992px) {
//   #home{
//     #head-open-menu{
//       .text-head{
//         font-size: 22px;
//       }
//       .text-head-btn{
//         font-size: 16px;
//       }
//     }
//
//     .subscribe-news{
//       .test{
//         transform: translate(0%,0);
//         top: 35%;
//         left: 0%;
//         margin-left: 12%;
//       }
//     }
//   }
// }
//
// @media only screen and (max-width : 991px) {
//   .how-details .overbox{
//     background-color: #304562;
//     position: absolute;
//     top: 2%;
//     left: 8%;
//     color: #fff;
//     opacity: 0;
//     width: 29%;
//     height: 30%;
//     padding: 130px 20px;
//     margin: auto;
//   }
// }
//
// @media only screen and (max-width : 820px) {
// #home{
//   #get-app{
//     #get-bg{
//       min-height: 630px;
//       .download{
//         padding-left: 30px;
//         .img-store-apple{
//           margin-top: -20px;
//           margin-left: 20px;
//         }
//       }
//     }
//   }
// }
// }
// @media only screen and (max-width : 767px) {
//     #input-email-download-app{
//       input{
//         margin: 20px 24px;
//         width: 200px;
//         max-width: 100%;
//         font-size:20px;
//       }
//     }
//     .down-app-btn{
//       margin-left: 20px;
//       margin-bottom: 20px;
//     }
//
//     #home{
//       #head-open-menu{
//         .text-head{
//           font-size: 14px;
//         }
//         .text-head-btn{
//           top: 75%;
//           font-size: 14px;
//           line-height: 20px;
//           margin-right: -20px;
//           padding: 18px 30px 16px 54px;
//         }
//       }
//       #get-app{
//
//         #get-bg{
//           min-height: 1060px;
//           #img-phone-openmenu{
//             width: 40%;
//           }
//           .download{
//             padding-left: 30px;
//             #download-head{
//               margin: 0px 40px;
//               margin-top: 20px;
//               font-size: 14px;
//               font-weight: bold;
//             }
//             #download-content{
//               margin: 0px 40px;
//               font-size: 14px
//             }
//             #download-content-footer{
//               margin: 0px 24px;
//               font-size: 12px
//             }
//             .img-store{
//               margin: 20px 24px;
//               left:0%;
//             }
//             .img-store-apple{
//               margin-top: 20px;
//               margin-left: 0px;
//             }
//           }
//
//         }
//       }
//     }
// }
// @media only screen and (max-width : 652px) {
//
//     #home{
//       #head-open-menu{
//         .text-head{
//           // font-size: 14px;
//         }
//         .text-head-btn{
//           top: 75%;
//           font-size: 14px;
//           line-height: 20px;
//           margin-right: -20px;
//           padding: 18px 30px 16px 54px;
//         }
//       }
//       #get-app{
//
//         #get-bg{
//           min-height: 940px;
//         }
//       }
//       .view-menu{
//         .view-content{
//           .view-detail-head{
//             margin-top: 10%;
//             margin-left: 32.6%;
//             font-size: 30px;
//             color: #FFBD2E;
//           }
//           .view-detail{
//             // margin-top: 20px;
//             float: left;
//             margin-left: 22%;
//             margin-bottom: 20px;
//           }
//         }
//       }
//       .payment-menu{
//         .payment-content{
//           .payment-detail-head{
//             margin-left: 40%;
//           }
//           .payment-detail{
//             margin-left: 20%;
//           }
//         }
//
//       }
//   }
// }
// @media only screen and (max-width : 602px) {
//
//     #home{
//       #get-app{
//
//         #get-bg{
//           min-height: 900px;
//         }
//       }
//
//     }
//
//
// }
// @media only screen and (max-width : 551px) {
//
//     #home{
//       #get-app{
//
//         #get-bg{
//           min-height: 900px;
//
//           .download{
//             .img-store-apple{
//               margin: 20px 0px;
//               // margin-left: 0px;
//             }
//           }
//         }
//       }
//     }
//
// }
// @media only screen and (max-width : 528px) {
//
//     #home{
//       #get-app{
//
//         #get-bg{
//           min-height: 940px;
//
//           .download{
//             .img-store-apple{
//               margin: -10px 20px;
//               // margin-left: 0px;
//             }
//           }
//         }
//       }
//     }
//
// }
// @media only screen and (max-width : 480px) {
//     #input-email-download-app{
//       input{
//         margin: 20px 24px;
//         width: 200px;
//         max-width: 100%;
//         font-size:20px;
//       }
//     }
//     #input-email-sub{
//       input{
//         margin: 20px 0px;
//         margin-left: -12px;
//         width:400px;
//         max-width: 80%;
//         font-size:20px;
//       }
//     }
//     .down-app-btn{
//       margin-left: 20px;
//       margin-bottom: 20px;
//     }
//     #home{
//       #head-open-menu{
//         .text-head{
//           font-size: 14px;
//         }
//         .text-head-btn{
//           top: 75%;
//           font-size: 14px;
//           line-height: 20px;
//           margin-right: -20px;
//           padding: 18px 30px 16px 54px;
//         }
//       }
//       #get-app{
//
//         #get-bg{
//           min-height: 780px;
//           #img-phone-openmenu{
//             // padding: 40px;
//             // margin-left: 200px;
//             // display: block;
//             // margin-left: auto;
//             // margin-right: auto;
//             // width: 10%;
//             // height: 100px;
//
//           }
//           .download{
//             #download-head{
//               margin: 0px 40px;
//               margin-top: 20px;
//               font-size: 14px;
//               font-weight: bold;
//             }
//             #download-content{
//               margin: 0px 40px;
//               font-size: 14px
//             }
//             #download-content-footer{
//               margin: 0px 24px;
//               font-size: 12px
//             }
//             .img-store{
//               margin: 20px 24px;
//               padding: 10px 10px 10px 10px;
//               width: 120px;
//               // left:10%;
//             }
//             .img-store-apple{
//               margin: 20px 0px;
//               padding: 10px 10px 10px 10px;
//               width: 130px;
//               // left:10%;
//             }
//           }
//
//         }
//       }
//       .view-menu{
//         .view-content{
//           .view-detail-head{
//
//             font-size: 20px;
//
//           }
//           .view-detail{
//             font-size: 12px;
//             margin-left: 0%;
//             margin-left: 30px;
//             float:  inherit;
//           }
//         }
//       }
//
//       .payment-menu{
//         .payment-content{
//           .payment-detail-head{
//             margin-left: 30%;
//             font-size: 20px;
//           }
//           .payment-detail{
//             margin-left: 0%;
//             font-size: 12px;
//             margin-left: 20px;
//           }
//         }
//
//       }
//
//       .subscribe-news{
//
//         .test{
//           // position: absolute;
//           transform: translate(0%,0);
//           top: 35%;
//           left: 0%;
//           // margin-left: 5%;
//           .sub-head{
//             font-size: 16px;
//             // font-weight: bold;
//             // margin-bottom: 20px;
//             margin-left: 0px;
//
//           }
//           .sub-detail{
//             margin-left: 0px;
//             font-size: 12px;
//           }
//           .subscribe-btn{
//           //   position: absolute;
//             // transform: translate(0%,0);
//             // left: 0%;
//             // margin-left: -1px;
//           //   margin-left: 40px;
//           //   background-color: #FFBD2E;
//           //   &:hover{
//           //       background: black;
//           //   }
//           }
//         }
//       }
//     }
// }
