@import 'global/_constant.scss';
// @font-face {
//     font-family: "Roboto-Light";
//     src: url('../../font/roboto-light-webfont.eot');
//     src: url('../../font/roboto-light-webfont.woff') format('woff'),
//          url('../../font/Roboto-Light.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: "Roboto-Thin";
//     src: url('../../font/roboto-thin-webfont.eot');
//     src: url('../../font/roboto-thin-webfont.woff') format('woff'),
//          url('../../font/Roboto-Thin.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }
.how-details{
  position: relative;
}
.youtube{
  width: 560px;
  height: 320px;
}
.how-details-2{
  position: relative;
  display: inline-block;
  .overbox{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    font-size: 16px;
    text-align: center;

    opacity: 0;
    transition: opacity 0.3s linear;
  }
  &:hover{
    .overbox{
      opacity: 1;
    }
  }
  p{
    color: black;
    text-align: center;
  }
}

#home{
  #head-open-menu{
    position: relative;
    height: 100vh;
    width:100%;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.40) 25%, rgba(0,0,0,0.4) 90%), url('../../images/for_customer/head-home-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto-Light","Sans Serif";
    .text-head{
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%,0);
      font-size: 30px;
      line-height: 36px;
      color: #FFFFFF;
    }
    .text-head-btn{
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%,0);
      font-size: 20px;
      // line-height: 36px;
      margin-right: -20px;
      padding: 18px 26px 16px 46px;
      border-radius: 50px;
      box-shadow: 0 1px 0;
      color: black;
      background: rgba(255,255,255,.5);
      span{
        margin-left: -20px;
      }
      &:hover{
        background: black;
        color: #fff;
      }
    }
  }

  #get-app{
    font-family: "Roboto-Light","Sans Serif";
    background-color: #FFBD2E;
    #get-bg{
      // background-color: #FFBD2E;
      color: black;
      height: 70vh;
      #img-phone-openmenu{
        padding-top: 40px;
        // margin-left: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        // min-width: 50%;


      }
      .download{
        #download-head{
          margin: 0px 40px;
          margin-top: 100px;
          font-size: 30px;
          // font-weight: bold;
        }
        #download-content{
          margin: 0px 40px;
          font-size: 18px
        }
        #download-content-footer{
          margin: 0px 24px;
          // margin: 0px 40px;
          font-size: 12px
        }
        .img-store{
          margin: 0px 24px;
          // padding: 10px 10px 10px 10px;
          margin-top: 10px;
          width: 180px;
          // left:10%;
        }
        .img-store-apple{
          // margin: 20px 24px;
          // padding: 10px 10px 10px 10px;
          // margin-left: -10px;
          width: 196px;
          margin-top: 10px;
          // left:10%;
        }
      }
    }

  }

      #how-it-work{
        margin-top: 140px;
        font-family: "Roboto-Thin","Sans Serif";
        #how-content-head{
          position: relative;
          font-size: 30px;
          font-weight: bold;
        }
        #how-content{
          position: relative;
          margin-top: 20px;
          .how-details-2{
            img{
              margin: auto;
              padding: auto;
            }
            p{
              text-align: center;
              font-size: 20px;
            }
          }
        }
      }

    .view-menu{
      background-color: #F5F5F5;
      font-family: "Roboto-Thin","Sans Serif";
      .view-content{
        .view-detail-head{
          margin-top: 25%;
          font-size: 40px;
          color: #FFBD2E;
        }
        .view-detail{
          font-size: 22px;
          margin-top: 20px;
        }
      }
      .bx-size{
        margin-top: 40px;
      }
    }

    .payment-menu{
      background-color: #fff;
      font-family: "Roboto-Thin","Sans Serif";
      .payment-content{
        .payment-detail-head{
          margin-top: 25%;
          margin-bottom: 10px;
          font-size: 40px;
          color: #FFBD2E;
        }
        .payment-detail{
          font-size: 22px;
          margin-left: 16px;
          margin-bottom: 40px;
        }
      }
      .bx-size{
        margin-top: 40px;
      }
    }

    .subscribe-news{
      min-height: 600px;
      width:100%;
      background-image: linear-gradient(-180deg, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 90%), url('../../images/for_customer/subscribe-news.png');
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      font-family: "Roboto-Light","Sans Serif";
      .subscribe{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 35%;
        .sub-head{
          font-size: 40px;
          // font-weight: bold;
          margin-bottom: 20px;
          margin-left: 40px;

        }
        .sub-detail{
          margin-left: 40px;
          font-size: 22px;
        }
        #input-email-sub{
          input{
            margin: 20px;
            margin-left: 26px;
            // margin-left: 40px;
            // width:400px;
            min-width: 100%;
            font-size:20px;
          }
        }
        .subscribe-btn{
          background-color: #FFBD2E;
          border-style: none;
          &:hover{
              background: black;
          }
        }
      }
    }
}
.down-app-btn{
  margin-top: 14px;
  padding: 10px 10px;
  border-radius: 50px;
  background-color: #232121;
  color: #FFF !important;
  transition: background 0.2s;
  border-style: none;
  &:hover{
      background: #A87E4F;
  }

  &.-circle{
      position: relative;
      width: 42px;
      height: 42px;
      padding: 0;
      border-radius: 50%;

      i{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 20px;
      }
  }
}
.get-app-btn{
    margin-top: 14px;
    padding: 10px 10px;
    border-radius: 50px;
    background-color: #232121;
    color: #FFF !important;
    transition: background 0.2s;

    &:hover{
        background: #A87E4F;
    }

    &.-circle{
        position: relative;
        width: 42px;
        height: 42px;
        padding: 0;
        border-radius: 50%;

        i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
        }
    }
}

    #need-help{
      text-align: center;
      color: #979797;
      padding-top: 40px;
    }

#input-email-download-app{
  input{
    margin: 20px 24px;
    // width: 360px;
    min-width: 90%;
    font-size:20px;
  }
}
// #input-email-sub{
//   input{
//     margin: 20px 4px;
//
//     width:400px;
//     max-width: 100%;
//     font-size:20px;
//   }
// }

.bx-size{
  // position: fixed;
  // width:27%;
  // width:300px;
  // height:200px;
  // margin-left: -60px;
  // margin-top: 40px;
  // margin-bottom: 100px;

}

.slider-position{
  // margin-left: %;
  // margin-left: 20px;
}
.bx-size .bx-wrapper .bx-viewport
{
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
    box-shadow: none;
    border: 0;
    // margin-left: -20px;
    background-color: transparent;
}

@media only screen and (max-width : 991px) {
    #home{
      #get-app{
        #get-bg{
          // min-height: 1060px;
          #img-phone-openmenu{
            // width: 40%;
          }
          .download{
            margin-top: -20px;
            margin-left: 60px;
            #download-head{

            }
            #download-content{

            }
            #download-content-footer{
              margin-top: 10px;
            }
            .down-app-btn{
              margin-top: -4px;
              margin-left: 20px;
            }
            .img-store{
              width: 140px;
            }
            .img-store-apple{
              width: 150px;
              margin-left: 20px;
            }
          }
        }
      }

      #how-it-work{
        #how-content{
          text-align: center;
          .how-details-2{
            img{
              width: 300px;
            }
            p{
              text-align: center;
              font-size: 16px;
            }
          }
        }
      }
      .subscribe-news{
        .subscribe{
          .subscribe-btn{
            margin-left: 24px;
          }
        }
      }
    }
}

@media only screen and (max-width : 767px) {
    #home{
      #head-open-menu{
        .text-head{
          font-size: 24px;
          line-height: 36px;
          color: #FFFFFF;
        }
    }
      #get-app{
        #get-bg{
          min-height: 960px;
          #img-phone-openmenu{
            width: 40%;
          }
          .download{
            margin-left: 30px;
            #download-head{
              font-size: 16px
            }
            #download-content{
              // margin: 0px 40px;
              font-size: 14px
            }
            #download-content-footer{
              // margin: 0px 24px;
              // font-size: 12px
            }
            .img-store{
              width: 140px;
            }
            .img-store-apple{
              width: 140px;
            }
          }
        }
      }
    }

}
@media only screen and (max-width : 652px) {

    #home{
      #head-open-menu{
        .text-head{
          font-size: 18px;
          line-height: 30px;
          color: #FFFFFF;
        }

          .text-head-btn{
            font-size: 14px;
            padding: 18px 20px 16px 40px;
          }

      }
      #how-it-work{
        #how-content{
          text-align: center;
          .how-details-2{
            img{
              width: 200px;
            }
          }
        }
      }
      #get-app{
        #get-bg{
          .download{
              margin-left: 0px;
          }
        }
      }
      .view-menu{
        background-color: #F5F5F5;
        .view-content{
          .view-detail-head{
            margin-top: 16%;
            font-size: 26px;
            color: #FFBD2E;
            // text-align: center;
          }
          .view-detail{
            font-size: 20px;
            margin-top: 20px;
          }
        }
        .bx-size{
          margin-top: 40px;
        }
      }
      .payment-menu{
        .payment-content{
          .payment-detail-head{
            font-size: 26px;

          }
          .payment-detail{
            font-size: 20px;
            margin-left: 16px;

          }
        }
        .bx-size{
        }
      }
      .subscribe-news{
        .subscribe{
          .sub-head{
            font-size: 26px;
          }
          .sub-detail{
            font-size: 18px;
          }
        }
      }
    }
}

@media only screen and (max-width : 480px) {
  .youtube{
    width: 330px;
    height: 240px;
  }
  #home{

    #get-app{
      #get-bg{
        min-height: 760px;
        #img-phone-openmenu{
          width: 40%;
        }
        .download{
          padding-left: 0px;
          #download-head{
            font-size: 14px
          }
          #download-content{
            // margin: 0px 40px;
            font-size: 12px
          }
          #download-content-footer{

          }
          .img-store{
            width: 110px;
          }
          .img-store-apple{
            width: 114px;
          }
        }

      }
    }
  }
}
